.app-bar-wrapper {
    display: flex;
    justify-content: stretch;
    
    .MuiToolbar-root {
        display: flex;
        justify-content: space-between;
        padding: 8px 16px 8px;

        .user-nav-buttons {
            display: flex;
            gap: 32px;
        }

        .logout-icon {
            font-size: 48px;
        }
    }

}