$frame-color: rgb(235, 235, 235);

.frame-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;

    #frame-top {
        background-color: $frame-color;
        width: 100%;
        height: 6.25%;
        position: absolute;
        z-index: 3;
    }

    #frame-right {
        background-color: $frame-color;
        width: 6.25%;
        height: 100%;
        position: absolute;
        z-index: 3;
        left: 93.75%;
    }

    #frame-bottom {
        background-color: $frame-color;
        width: 100%;
        height: 18.75%;
        position: absolute;
        z-index: 3;
        top: 93.75%;
    }

    #frame-left {
        background-color: $frame-color;
        width: 6.25%;
        height: 100%;
        position: absolute;
        z-index: 3;
        right: 93.75%;
    }

    .image-element {
        margin-top: 6.25%;
        background-color: rgb(128, 128, 128);
        width: 87.5%;
        height: 87.5%;
    }
}